.body {
    background-color: orange;
    border-color: orangered;
    border-style: solid;
    border-width: 3px;
    padding-bottom: 100px
}

.testo {
    color:red
}

.sfondo{
    margin:auto;
    background-color: lightgray;
    padding: 30px;
    max-width: 400px
}